.footer {
  text-align: right;
}

body {
  background-color: black;
  text-align: center;
}

h1 {
  color: white;
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
}

h2 {
  color: white;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

h3 {
  color: Aquamarine;
  font-family: Verdana;
  font-size: 16px;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}
